* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: auto;
    grid-template-areas:
        "head"
        "main"
        "foot";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content(100%));
}

header {
    grid-area: head;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: ". logo nav nav nav .";
    padding-block: 20px;
}

main {
    grid-area: main;
    background-color: #ffffff;
}

footer {
    grid-area: foot;
    /* background-color: #f1f1f1; */
}

/* Header */

#logo-header {
    grid-area: logo;
    width: 100%;
}

#nav-header {
    grid-area: nav;
    width: 100%;
}

#nav-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

#nav-header ul li {
    list-style: none;
}

#nav-header ul li a {
    text-decoration: none;
    color: black;
}

/* Main */

/* - Hero Section */

#hero-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    /* align-items: start; */
    grid-template-areas: ". cnt cnt img img .";
    position: relative;
    padding-block: 30px;
    background: #495e57;
}

#hero-section .content {
    grid-area: cnt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#hero-section .content .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#hero-section .content button {
    width: calc(50% - 10px);
}

#hero-section img {
    grid-area: img;
    margin-left: 20%;
    width: 80%;
    max-height: 340px;
    max-height: auto;
    object-fit: cover;
    border-radius: 16px;
    z-index: 10;
}

/* Footer */

footer {
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        ". logo dnav con soc ."
        "p p p p p p";
}

#nav-footer {
    grid-area: dnav;
}

#socials {
    grid-area: soc;
}

#contact {
    grid-area: con;
}

.footer-item {
    width: 100%;
    height: 100%;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item ul li {
    list-style: none;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.footer-item ul li a {
    text-decoration: none;
    color: black;
}

footer p {
    grid-area: p;
    text-align: center;
}

#logo-footer {
    grid-area: logo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    background-color: rgb(4, 78, 53);
}

/* buttons */

.btn {
    background: #f4ce14;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 15px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
