* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

header {
    padding-block: 20px;
    /* flex-grow: 0; */
}

main {
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-block: 1px solid #a09e9e;
}

footer {
    /* flex-grow: 0; */
    margin-top: auto;
    /* background-color: #f1f1f1; */
}

/* Header */

header > nav {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: ". logo nav nav nav .";
}

#logo-header {
    grid-area: logo;
    width: 100%;
}

@media (max-width: 1145px) {
    ul#nav-header {
        justify-content: space-around;
    }
}

@media screen and (max-width: 789px) {
    header > nav {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 20px;
        row-gap: 20px;
        align-items: center;
        grid-template-areas:
            ". logo . . ham ."
            ". nav nav nav nav .";
        position: relative;
    }

    nav img#hamburger-menu {
        display: flex;
    }
    #nav-header.screen {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
    #nav-header.screen.show {
        display: flex;
    }
    header.screen {
        padding-block: 20px 0;
    }
    header.show {
        padding-block: 20px;
    }
}

#hamburger-menu {
    grid-area: ham;
    display: none;
    /* height: 20px; */
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    right: 0;
    margin-block: auto;
    transition: 0.3s ease-in-out;
}

#hamburger-menu:hover {
    background-color: #f4ce14;
    cursor: pointer;
}

#nav-header {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#nav-header li {
    list-style: none;
}

#nav-header li a {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    font-size: 20px;
    text-decoration: none;
    border-radius: 16px;
    color: black;
    position: relative;
    transition: 0.3s;
}

#nav-header li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #495e57;
    bottom: 0;
    left: 50%;
    transition: 0.3s;
}

#nav-header li a:hover::after {
    width: 100%;
    left: 0;
}

#nav-header li a:hover {
    color: #f4ce14;
}

/* Main */

/* - Hero Section */

#hero-section,
#booking-section {
    background: #495e57;
}

#hero-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    /* align-items: center; */
    grid-template-areas: "cnt img";
}

@media screen and (max-width: 1046px) {
    #hero-section .container {
        grid-template-columns: 1fr;
        grid-template-areas: "cnt" "img";
        grid-row-gap: 30px;
    }
    #hero-section .content button {
        width: calc(50% - 30px);
        margin-inline: auto;
    }
}

#hero-section .content {
    grid-area: cnt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#hero-section .content .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero-section .content button {
    width: calc(50% - 10px);
}

#hero-section img {
    grid-area: img;
    width: 100%;
    right: 0;
    max-height: 340px;
    z-index: 10;
}

#hero-section h1 {
    color: #f4ce14;
}

#hero-section h2,
#hero-section p {
    color: #edefee;
}

/* Specials Section */

#specials-section .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#specials-section .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 1209px) {
    #specials-section .row2 {
        justify-content: space-around;
    }
}

@media screen and (max-width: 789px) {
    #specials-section .row1 {
        flex-direction: column;
        gap: 20px;
    }
}
/* Card */

.order-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 0;
}

.order-btn h5 {
    font-weight: 700;
    color: #333333;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    background-color: #edefee;
    border-radius: 16px;
}

.card img {
    aspect-ratio: 5/3;
    border-radius: 16px 16px 0 0;
}

.card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 20px 20px 20px;
}

.card-content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#price {
    font-weight: 700;
    color: #ee9972;
}

/* Testimonials Section */

#testimonials-section {
    background-color: #d9d9d9;
}

#testimonials-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.testimonials {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;

    /* Add shadow on online borders while scrolling */
    /* border-inline: 1px solid#333333; */
    /* box-shadow: inset -5px 0 #333333; */
}

/* Testimonial */

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-width: 166px;
    gap: 15px;
    padding: 20px;
    border-radius: 16px;
}

.testimonial .rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.testimonial .rating h6 {
    font-weight: 700;
}

.testimonial .rating img {
    height: 1em;
}

.testimonial-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonial-photo img {
    border-radius: 5px;
}

/* About Section */

#about-section {
    /* background-color: #f1f1f1; */
}

#about-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: "cnt cnt img img";
}
@media (max-width: 1330px) {
    section#about-section .container {
        align-items: center;
    }
    #about-section div.images {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }
    #about-section .images img#img1,
    #about-section .images img#img2 {
        object-fit: cover;
        width: 100%;
        height: calc(50% - 10px);
    }
    img#img2 {
        position: static;
    }
}
@media screen and (max-width: 789px) {
    #about-section .container {
        grid-template-columns: 1fr;
        grid-template-areas: "cnt" "img";
        grid-row-gap: 30px;
    }
}

#about-section .content {
    grid-area: cnt;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#about-section .images {
    grid-area: img;
    width: 100%;
    position: relative;
}

#about-section .images img {
    width: 60%;
}
#img1 {
    z-index: 10;
}
#img2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

/* Footer */

footer {
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        ". cnt cnt cnt cnt ."
        ". . logo p . .";
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
}

footer .container {
    grid-area: cnt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 865px) {
    footer .container {
        flex-direction: column;
        gap: 20px;
    }
    div.footer-item,
    nav.footer-item {
        border-right: none;
        padding-right: 0;
    }
    .footer-item h4 {
        border-bottom: 1px solid #333333;
    }
}

.footer-item {
    width: 100%;
    height: 100%;
    border-right: 1px solid #333333;
    padding-right: 30px;
}

#socials,
#logo-footer {
    border-right: none;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.footer-item ul li {
    list-style: none;
    flex-shrink: 1;
    flex-wrap: wrap;
    font-family: "Karla";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* padding-left: 10px; */
    color: #333333;
}

.footer-item ul li a {
    text-decoration: none;
    font-family: "Karla";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

.footer-item h4 {
    color: #495e57;
    margin-bottom: 15px;
    /* border-bottom: 1px solid; */
}

footer p {
    grid-area: p;
    text-align: center;
    color: #333333;
}

#logo-footer {
    grid-area: logo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* Booking Section */

#booking-section {
    /* border-block: 1px solid #333333; */
}

/* Booking Form */

#booking-form {
    grid-area: c;
    display: grid;
    max-width: 300px;
    width: 100%;
    gap: 20px;
    margin-inline: auto;
}
.form-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Booking Confirmation Section */

#confirmation-section {
    /* background-color: #f8e681; */
    /* border-block: 1px solid #333333; */
}
#confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #a9fcb0;
    padding: 20px;
    border-radius: 16px;
}

/* HTML elements - global styling */

section {
    padding-block: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    /* align-items: start; */
    grid-template-areas: ". c c c c .";
    flex: 1;
}

section .container {
    grid-area: c;
    margin-block: auto;
}

button,
.btn {
    background: #f4ce14;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 15px;
    min-width: 200px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
button:hover,
.btn:hover {
    background: #f4f014;
    transform: scale(1.05);
}

button[disabled] {
    background: #a8a8a4;
    color: #968e8e;
    cursor: not-allowed;
}
button[disabled]:hover::before {
    content: "There are no available tables";
    position: absolute;

    background: rgba(54, 54, 54, 1);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #333333;
    /* padding: 10px; */
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: black;
}
h2 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: black;
}

h3 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #000000;
}

h4 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: black;
}

p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: black;
}
h5 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #495e57;
}
h6 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

/* Booking form */

input,
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 16px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

label {
    font-family: "Karla";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #f4ce14;
}

/* 
font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif;
*/
