* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: auto;
    grid-template-areas:
        "head"
        "main"
        "foot";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content(100%));
}

header {
    grid-area: head;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: ". logo nav nav nav .";
    padding-block: 20px;
}

main {
    grid-area: main;
    background-color: #ffffff;
}

footer {
    grid-area: foot;
    /* background-color: #f1f1f1; */
}

/* Header */

#logo-header {
    grid-area: logo;
    width: 100%;
}

#nav-header {
    grid-area: nav;
    width: 100%;
}

#nav-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

#nav-header ul li {
    list-style: none;
}

#nav-header ul li a {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* Main */

/* - Hero Section */

#hero-section {
    background: #495e57;
}

#hero-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    /* align-items: start; */
    grid-template-areas: "cnt cnt img img";
}

#hero-section .content {
    grid-area: cnt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#hero-section .content .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero-section .content button {
    width: calc(50% - 10px);
}

#hero-section img {
    grid-area: img;
    margin-left: 20%;
    width: 80%;
    max-height: 340px;
    max-height: auto;
    z-index: 10;
}

#hero-section h1 {
    color: #f4ce14;
}

#hero-section h2,
#hero-section p {
    color: #edefee;
}

/* Specials Section */

#specials-section .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#specials-section .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;
    flex-wrap: wrap;
    gap: 40px;
}
/* Card */

.order-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 0;
}

.order-btn h5 {
    font-weight: 700;
    color: #333333;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    background-color: #edefee;
    border-radius: 16px;
}

.card img {
    aspect-ratio: 5/3;
    border-radius: 16px 16px 0 0;
}

.card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 20px 20px 20px;
}

.card-content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#price {
    font-weight: 700;
    color: #ee9972;
}

/* Testimonials Section */

#testimonials-section {
    background-color: #d9d9d9;
}

#testimonials-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

/* Testimonial */

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 15px;
    padding: 20px;
    border-radius: 16px;
}

.testimonial .rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.testimonial .rating h6 {
    font-weight: 700;
}

.testimonial .rating img {
    height: 1em;
}

.testimonial-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonial-photo img {
    border-radius: 5px;
}

/* About Section */

#about-section {
    /* background-color: #f1f1f1; */
}

#about-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    /* align-items: start; */
    grid-template-areas: "cnt cnt img img";
}

#about-section .content {
    grid-area: cnt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#about-section .images {
    grid-area: img;
    width: 100%;
    position: relative;
}

#about-section .images img {
    width: 60%;
}
#img1 {
    z-index: 10;
}
#img2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

/* Footer */

footer {
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        ". logo dnav con soc ."
        "p p p p p p";
    padding-top: 30px;
    padding-bottom: 10px;
}

#nav-footer {
    grid-area: dnav;
}

#socials {
    grid-area: soc;
}

#contact {
    grid-area: con;
}

.footer-item {
    width: 100%;
    height: 100%;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.footer-item ul li {
    list-style: none;
    flex-shrink: 1;
    flex-wrap: wrap;
    font-family: "Karla";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    color: #333333;
}

.footer-item ul li a {
    text-decoration: none;
    font-family: "Karla";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

.footer-item h4 {
    color: #495e57;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

footer p {
    grid-area: p;
    text-align: center;
    color: #333333;
}

#logo-footer {
    grid-area: logo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    background-color: rgb(4, 78, 53);
}

/* HTML elements - global styling */

section {
    padding-block: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    /* align-items: start; */
    grid-template-areas: ". c c c c .";
}

section .container {
    grid-area: c;
}

button {
    background: #f4ce14;
    color: black;
    border: none;
    border-radius: 16px;
    padding: 15px;
    min-width: 200px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

h1 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: black;
}
h2 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: black;
}

h3 {
    font-family: "Markazi Text";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #000000;
}

h4 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: black;
}

p {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: black;
}
h5 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #495e57;
}
h6 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

/* 
font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif;
*/
